
/* ======================================================================== My Style.css ==========================================================================*/
	/* ----You can customize by yourself in here. ----*/
	.index-main-body {
	font-family:'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
	position: fixed;
	top: 20%;
	bottom: 15%;
	left:35%;
	right: 35%;
}
.main-ui {
	margin-top: 20%;
	text-align: center;
	vertical-align: middle;
}
.subtitle {
	margin:29px 0 20px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1;
}
/*Center"parent-element and child-element" --Center--*/
	.parent-element {
	text-align: center;
	vertical-align: middle;
}
.input-name {
	display: inline-block;
}
/*All over - End*/
	.button-ui {
	margin-top: 4%;
	display: inline-block;
	padding-left: 15%;
	padding-right: 15%;
}
.search-button {
	background: #0f88eb;
	box-shadow: none;
	border: 0;
	border-radius: 5px;
	line-height: 41px;
	color: #fff;
	display: block;
	padding-right: 5em;
	padding-left: 5em;
	width: 100%;
	font-size: 15px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	outline: 0;
	cursor: pointer;
	font-family: inherit;
}
.search-button:hover {
	background: #55abed;
}
.bottom-text {
	margin-top: 10%;
}
